<section>
    <div class="products-section pad-bottom80">
        <div class="container">
            <div class="row">
                <div class="headding-box">
                    <h3 class="theme-headdings">Our Products</h3>
                    <div class="headding-icons">
                        <ul>
                            <li><span class="mar-top15"><i class="fa fa-diamond" aria-hidden="true"></i></span></li>
                            <li><span class="style mar-top15"><i class="fa fa-diamond" aria-hidden="true"></i></span></li>
                            <li><span class="mar-top15"><i class="fa fa-diamond" aria-hidden="true"></i></span></li>
                        </ul>
                    </div>
                    <p>Lorem ipsum dolor sit amet<br>
                        consectetueradipiscing elit, sed diam nonummy nibh
                    <p>
                </div>
                <div class="products mar-top40">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <figure class="itg-hover-style2">
                            <img src="assets/img/Products/Products1.png" alt="">
                            <div class="products-boxes">
                                <a data-toggle="modal" data-target="#myModal" href="#" class="itg-button">Quick View</a>
                            </div>
                            <figcaption class=" figure-boxx figure-section-hover">
                                <h4 class="theme-headdings text-center pad-top10"><a href="product-detail.html">High Designer Jewellery</a></h4>
                                <div class="star-box-section text-left">
                                    <p><i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="star-code fa fa-star-half-o" aria-hidden="true"></i>
                                    </p>
                                </div>
                                <p>100.00$</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 responsive-top">
                        <figure class="itg-hover-style2">
                            <img src="assets/img/Products/Products2.png" alt="">
                            <div class="products-boxes">
                                <a data-toggle="modal" data-target="#myModal" href="#" class="itg-button">Quick View</a>
                            </div>
                            <figcaption class=" figure-boxx figure-section-hover">
                                <h4 class="theme-headdings text-center pad-top10"><a href="product-detail.html">High Designer Jewellery</a></h4>
                                <div class="star-box-section text-left">
                                    <p><i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="star-code fa fa-star-half-o" aria-hidden="true"></i>
                                    </p>
                                </div>
                                <p>100.00$</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 Categorie-top responsive-top">
                        <figure class="itg-hover-style2">
                            <img src="assets/img/Products/Products3.png" alt="">
                            <div class="products-boxes">
                                <a data-toggle="modal" data-target="#myModal" href="#" class="itg-button">Quick View</a>
                            </div>
                            <figcaption class=" figure-boxx figure-section-hover">
                                <h4 class="theme-headdings text-center pad-top10"><a href="product-detail.html">High Designer Jewellery</a></h4>
                                <div class="star-box-section text-left">
                                    <p><i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="star-code fa fa-star-half-o" aria-hidden="true"></i>
                                    </p>
                                </div>
                                <p>100.00$</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 Categorie-top responsive-top">
                        <figure class="itg-hover-style2">
                            <img src="assets/img/Products/Products4.png" alt="">
                            <div class="products-boxes">
                                <a data-toggle="modal" data-target="#myModal" href="#" class="itg-button">Quick View</a>
                            </div>
                            <figcaption class=" figure-boxx figure-section-hover">
                                <h4 class="theme-headdings text-center pad-top10"><a href="product-detail.html">High Designer Jewellery</a></h4>
                                <div class="star-box-section text-left">
                                    <p><i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="star-code fa fa-star-half-o" aria-hidden="true"></i>
                                    </p>
                                </div>
                                <p>100.00$</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="mar-top30 product-box1">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <figure class="itg-hover-style2">
                                <img src="assets/img/Products/Products5.png" alt="">
                                <div class="products-boxes">
                                    <a data-toggle="modal" data-target="#myModal" href="#" class="itg-button">Quick View</a>
                                </div>
                                <figcaption class=" figure-boxx figure-section-hover">
                                    <h4 class="theme-headdings text-center pad-top10"><a href="product-detail.html">High Designer Jewellery</a></h4>
                                    <div class="star-box-section text-left">
                                        <p><i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="star-code fa fa-star-half-o" aria-hidden="true"></i>
                                        </p>
                                    </div>
                                    <p>100.00$</p>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 responsive-top">
                            <figure class="itg-hover-style2">
                                <img src="assets/img/Products/Products6.png" alt="">
                                <div class="products-boxes">
                                    <a data-toggle="modal" data-target="#myModal" href="#" class="itg-button">Quick View</a>
                                </div>
                                <figcaption class=" figure-boxx figure-section-hover">
                                    <h4 class="theme-headdings text-center pad-top10"><a href="product-detail.html">High Designer Jewellery</a></h4>
                                    <div class="star-box-section text-left">
                                        <p><i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="star-code fa fa-star-half-o" aria-hidden="true"></i>
                                        </p>
                                    </div>
                                    <p>100.00$</p>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 Categorie-top responsive-top">
                            <figure class="itg-hover-style2">
                                <img src="assets/img/Products/Products7.png" alt="">
                                <div class="products-boxes">
                                    <a data-toggle="modal" data-target="#myModal" href="#" class="itg-button">Quick View</a>
                                </div>
                                <figcaption class=" figure-boxx figure-section-hover">
                                    <h4 class="theme-headdings text-center pad-top10"><a href="product-detail.html">High Designer Jewellery</a></h4>
                                    <div class="star-box-section text-left">
                                        <p><i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="star-code fa fa-star-half-o" aria-hidden="true"></i>
                                        </p>
                                    </div>
                                    <p>100.00$</p>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 Categorie-top responsive-top">
                            <figure class="itg-hover-style2">
                                <img src="assets/img/Products/Products8.png" alt="">
                                <div class="products-boxes">
                                    <a data-toggle="modal" data-target="#myModal" href="#" class="itg-button">Quick View</a>
                                </div>
                                <figcaption class=" figure-boxx figure-section-hover">
                                    <h4 class="theme-headdings text-center pad-top10"><a href="product-detail.html">High Designer Jewellery</a></h4>
                                    <div class="star-box-section text-left">
                                        <p><i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="star-code fa fa-star-half-o" aria-hidden="true"></i>
                                        </p>
                                    </div>
                                    <p>100.00$</p>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>