<section>
    <div class="blog-section pad-top-bottom80">
        <div class="container">
            <div class="row">
                <div class="headding-box mar-bottom40">
                    <h3 class="theme-headdings">Our Blog</h3>
                    <div class="headding-icons">
                        <ul>
                            <li><span class="mar-top15"><i class="fa fa-diamond" aria-hidden="true"></i></span></li>
                            <li><span class="style mar-top15"><i class="fa fa-diamond" aria-hidden="true"></i></span></li>
                            <li><span class="mar-top15"><i class="fa fa-diamond" aria-hidden="true"></i></span></li>
                        </ul>
                    </div>
                    <p>Lorem ipsum dolor sit amet<br>
                        consectetueradipiscing elit, sed diam nonummy nibh
                    <p>
                </div>
                <div class="blog-box">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <figure class="blog-img-section">
                            <img src="assets/img/all/blog1.jpg" alt="">
                            <figcaption class="blog-text-section">
                                <h4 class="theme-headdings pad-top20"><a href="blog-detail-sidebar.html">Lorem Ipsum Dolor</a></h4>
                                <ul class="blog-tect-icons">
                                    <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>May 24, 2015</a></li>
                                    <li><a href="#"><i class="fa fa-comment" aria-hidden="true"></i>12 Comments</a></li>
                                </ul>
                                <p>Lorem Ipsum is simply dummy text of the
                                    rinting andey typesetting industry.
                                </p>
                                <a href="blog-detail-sidebar.html" class="btn-read">Read More <i class="fa fa-angle-double-right marL10" aria-hidden="true"></i></a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 responsive-top">
                        <figure class="blog-img-section">
                            <img src="assets/img/all/blog2.jpg" alt="">
                            <figcaption class="blog-text-section">
                                <h4 class="theme-headdings pad-top20">
                                    <a href="blog-detail-sidebar.html">Lorem Ipsum Dolor</a>
                                </h4>
                                <ul class="blog-tect-icons">
                                    <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>May 24, 2015</a></li>
                                    <li><a href="#"><i class="fa fa-comment" aria-hidden="true"></i>12 Comments</a></li>
                                </ul>
                                <p>Lorem Ipsum is simply dummy text of the
                                    rinting andey typesetting industry.
                                </p>
                                <a href="blog-detail-sidebar.html" class="btn-read">Read More <i class="fa fa-angle-double-right marL10" aria-hidden="true"></i></a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 responsive-top">
                        <figure class="blog-img-section">
                            <img src="assets/img/all/blog3.jpg" alt="">
                            <figcaption class="blog-text-section">
                                <h4 class="theme-headdings pad-top20"><a href="blog-detail-sidebar.html">Lorem Ipsum Dolor</a></h4>
                                <ul class="blog-tect-icons">
                                    <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>May 24, 2015</a></li>
                                    <li><a href="#"><i class="fa fa-comment" aria-hidden="true"></i>12 Comments</a></li>
                                </ul>
                                <p>Lorem Ipsum is simply dummy text of the
                                    rinting andey typesetting industry.
                                </p>
                                <a href="blog-detail-sidebar.html" class="btn-read">Read More <i class="fa fa-angle-double-right marL10" aria-hidden="true"></i></a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>