<section class="slider-section">
    <div id="main-slider" class="owl-carousel owl-theme">
        <div class="item">
            <figure class="dark-theme hidden-xs">
                <img src="assets/img/slider/slider1.jpg" alt="">
            </figure >
            <figure class="dark-theme hidden-lg hidden-md hidden-sm">
                <img src="assets/img/slider/slider4.jpg" alt="">
            </figure >
            <div class="slider-section-1 text-left">
                <div class="container">
                    <div class=" col-md-8 slider-box1">
                        <div class="row">
                            <div class="main-slider-heading">
                                <h1 class="">Designer Jewellery</h1>
                            </div>
                            <div class="slider-section-1-text">
                                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,<br>lorem quis bibendum auctor elit </p>
                            </div>
                            <a href="collection-list-sidebar.html" class="itg-button mar-top20">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <figure class="dark-theme hidden-xs">
                <img src="assets/img/slider/slider2.jpg" alt="">
            </figure >
            <figure class="dark-theme hidden-lg hidden-md hidden-sm">
                <img src="assets/img/slider/slider5.jpg" alt="">
            </figure >
            <div class="slider-section-1 text-left">
                <div class="container">
                    <div class=" col-md-8 slider-box1">
                        <div class="row">
                            <div class="main-slider-heading">
                                <h1 class="">Designer Jewellery</h1>
                            </div>
                            <div class="slider-section-1-text">
                                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,<br>lorem quis bibendum auctor elit </p>
                            </div>
                            <a href="collection-list-sidebar.html" class="itg-button mar-top20">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <figure class="dark-theme hidden-xs">
                <img src="assets/img/slider/slider3.jpg" alt="">
            </figure >
            <figure class="dark-theme hidden-lg hidden-md hidden-sm">
                <img src="assets/img/slider/slider6.jpg" alt="">
            </figure >
            <div class="slider-section-1 text-left">
                <div class="container">
                    <div class=" col-md-8 slider-box1">
                        <div class="row">
                            <div class="main-slider-heading">
                                <h1 class="">Designer Jewellery</h1>
                            </div>
                            <div class="slider-section-1-text">
                                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,<br>lorem quis bibendum auctor elit </p>
                            </div>
                            <a href="collection-list-sidebar.html" class="itg-button mar-top20">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>