<section>
    <div class="Categories-box pad-top80">
        <div class="container">
            <div class="row">
                <div class="headding-box">
                    <h3 class="theme-headdings">Our Categories</h3>
                    <div class="headding-icons">
                        <ul>
                            <li><span class="mar-top15"><i class="fa fa-diamond" aria-hidden="true"></i></span></li>
                            <li><span class="style mar-top15"><i class="fa fa-diamond" aria-hidden="true"></i></span></li>
                            <li><span class="mar-top15"><i class="fa fa-diamond" aria-hidden="true"></i></span></li>
                        </ul>
                    </div>
                    <p>Lorem ipsum dolor sit amet<br>
                        consectetueradipiscing elit, sed diam nonummy nibh
                    <p>
                </div>
                <div class="Categories-blog pad-top40">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <figure class="itg-hover-style1">
                            <img src="assets/img/all/categorie1.png" alt="">
                            <figcaption class="pad-bottom10 figure-boxx cotegories">
                                <h4 class="theme-headdings text-center">Necklaces And Rings</h4>
                                <p>View the collection</p>
                                <div class="categorie-text-box">
                                    <h4><a href="collection-list-sidebar.html">Necklaces And Rings</a></h4>
                                    <p>Lorem Ipsum is a dummy text that is mainly used by.</p>
                                    <a href="collection-list-sidebar.html" class="itg-button mar-top20">View Shop</a>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 responsive-top">
                        <figure class="itg-hover-style1">
                            <img src="assets/img/all/categorie2.png" alt="">
                            <figcaption class="pad-bottom10 figure-boxx cotegories">
                                <h4 class="theme-headdings text-center">Necklaces And Rings</h4>
                                <p>View the collection</p>
                                <div class="categorie-text-box">
                                    <h4><a href="collection-list-sidebar.html">Necklaces And Rings</a></h4>
                                    <p>Lorem Ipsum is a dummy text that is mainly used by.</p>
                                    <a href="collection-list-sidebar.html" class="itg-button mar-top20">View Shop</a>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 Categorie-top responsive-top">
                        <figure class="itg-hover-style1">
                            <img src="assets/img/all/categorie4.png" alt="">
                            <figcaption class="pad-bottom10 figure-boxx cotegories">
                                <h4 class="theme-headdings text-center">Necklaces And Rings</h4>
                                <p>View the collection</p>
                                <div class="categorie-text-box">
                                    <h4><a href="collection-list-sidebar.html">Necklaces And Rings</a></h4>
                                    <p>Lorem Ipsum is a dummy text that is mainly used by.</p>
                                    <a href="collection-list-sidebar.html" class="itg-button mar-top20">View Shop</a>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 Categorie-top responsive-top">
                        <figure class="itg-hover-style1">
                            <img src="assets/img/all/categorie4.png" alt="">
                            <figcaption class="pad-bottom10 figure-boxx cotegories">
                                <h4 class="theme-headdings text-center">Necklaces And Rings</h4>
                                <p>View the collection</p>
                                <div class="categorie-text-box">
                                    <h4><a href="collection-list-sidebar.html">Necklaces And Rings</a></h4>
                                    <p>Lorem Ipsum is a dummy text that is mainly used by.</p>
                                    <a href="collection-list-sidebar.html" class="itg-button mar-top20">View Shop</a>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>