<section>
    <div class="Featured-Product-sectoin grey-bgs pad-top-bottom80">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <figure>
                                <img src="assets/img/all/Featured-img.jpg" alt="">
                            </figure>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12 Featured-box Categorie-top responsive-top">
                            <h3 class="theme-headdings">Featured Product</h3>
                            <p class="Featured-text">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit
                                auctor aliquet. Aenean sollicitudin.
                            </p>
                            <h4 class="theme-headdings pad-top10">High Designer Jewellery</h4>
                            <div class="head-medial-text pad-top5">
                                <p>Availability: <span class="Products-in-stock">In stock</span></p>
                            </div>
                            <div class="star-box-section text-left">
                                <p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="star-code fa fa-star-half-o" aria-hidden="true"></i>
                                </p>
                            </div>
                            <div class="text-left Featured-price">
                                <p>101.00$</p>
                            </div>
                            <a href="product-detail.html" class="itg-button mar-top10">Purchase now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>