<div class="top-middle-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="row pad-top-bottom25 head-top-sec">
                    <div class="col-md-6 col-sm-6 col-xs-12 ">
                        <figure class="logo-box">
                            <a class="" href="index-2.html">
                            <img alt=""  src="assets/img/logo.png"></a>
                        </figure>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="select-box">
                            <div class="language-box2 top ">
                                <p><a href="#"><i class="fa fa-heart" aria-hidden="true"></i>My Wishlist</a></p>
                            </div>
                            <div class="language-box2 ">
                                <select>
                                    <option value="volvo">USD</option>
                                    <option value="saab">AUD</option>
                                    <option value="opel">EUR</option>
                                    <option value="audi">GBP</option>
                                </select>
                            </div>
                            <div class="language-box1">
                                <select>
                                    <option value="volvo">ENG</option>
                                    <option value="saab">GER</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>